## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.idea/
.vs/
*.swp
*~

## BenchmarkDotNet
BenchmarkDotNet.Artifacts/

## OS
.DS_Store
Thumbs.db
